html,body{
  margin:0;
  padding:0;
  height: 100%;
}
body {
  font-family: source-sans-pro, sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
}
body.light {
  background: #F4F4F4;
}
body.dark {
  color: #F0F1F1;
  background: #4A4D4E;
}
body.light {
  color: #181919;
}

h1 {
  font-weight: 600;
}
#wrapper {
  width: 100%;
  overflow-x: hidden;
  background: inherit;
  position: relative;
}

/* Content */
#content {
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 20px;
}


.header {
  background-color: white;
  min-height: 96px;
}

.header__title {
  margin: 28px;
  display: inline-block;
  float:left;
}


.upload {
  float:right;
  margin-top: 20px;
}

.upload__legend {
  float: left;
  margin-right: 20px;
  margin-top: 6px;
}

.upload__btn {
  float: left;
}



.upload__btn::-webkit-file-upload-button {
  visibility: hidden;
}

.upload__btn:before {
   content: 'Drop or select CSV file';
  display: inline-block;
 
 
  border-radius: 6px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;


  border: 1px solid #143250;
  background-color: #288edf;
  box-shadow: inset 0 1px rgba(255,255,255,0.36);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  text-shadow: 0 -1px rgba(0,0,0,0.36);
  padding: 16px;
}
.upload__btn:hover:before {
  background-color: #509bef;
}
.upload__btn:active:before {
  background-color: #0380e8;
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}

.buttons-bar
{
}

.search {
  float: left;
  padding: 12px 0;
  clear: both;
}

.search-clear {
  margin-left: 12px;
}

.pagination {
  float:right;
  padding: 12px 0;
}


.list {
  width: 100%;
   overflow: hidden;
   cursor: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.list__item {
   max-width: 33%;
   min-height: 650px;
   position: relative;
   overflow: hidden;
   float: left;




}

.list-item__inner {
  padding: 20px;
  overflow: hidden;
  display: inline-block;
}

.list-item__img {
   max-height: 480px;
   max-width: 100%;
}

.list-item__desc {
   background: white;
   padding: 10px;
   text-align: left;

   border-top: 1px solid #E0E0E0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list-item-desc__username:before {
  content: " ";
  background: url(user.svg) no-repeat;
  width: 20px;
  display: inline-block;
  height: 14px;
  background-size: 13px 13px;
}

.list-item-desc__email:before {
  content: " ";
  background: url(email.svg) no-repeat;
  width: 20px;
  display: inline-block;
  height: 11px;
  background-size: 13px 13px;
}

.list-item-desc__phone:before {
  content: " ";
  background: url(phone.svg) no-repeat;
  width: 20px;
  display: inline-block;
  height: 11px;
  background-size: 13px 13px;
}


